# Python Virtual Environment
venv/
.env

# Python Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Python Egg Info
*.egg-info/

# Temporary Files
*.db
*.log
*.tmp
*.bak

# Build Files
backend/algorithms/Makefile
backend/algorithms/__pycache__/
backend/algorithms/CMakeLists.txt

# IDE/Editor Configurations
.vscode/

# Test Data
tests/testdata.py

# CMake Files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
build/

# OS-specific Files
.DS_Store
Thumbs.db
