body{
    background-color: #0d1117;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    height: 100vh;
}

.Tiles_Bar{
    background-color: #2f3e53;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    height: 50vh;
    width: 100%;
}

.Tile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #222d3d;
    height: 35vh;
    text-align: center;
    width: 35vh;
    border-radius: 40px;
}
